@font-face {
  font-family: 'LiberationSans';
  src: url('./../vendor/LiberationSans-Regular.ttf') format("truetype");
}


@font-face {font-family: 'HelveticaNeueLTPro-Th';src: url('./../webfonts/36DA97_0_0.eot');src: url('./../webfonts/36DA97_0_0.eot?#iefix') format('embedded-opentype'),url('./../webfonts/36DA97_0_0.woff2') format('woff2'),url('./../webfonts/36DA97_0_0.woff') format('woff'),url('./../webfonts/36DA97_0_0.ttf') format('truetype');}


@font-face {font-family: 'HelveticaNeueLTPro-Lt';src: url('./../webfonts/36DA97_1_0.eot');src: url('./../webfonts/36DA97_1_0.eot?#iefix') format('embedded-opentype'),url('./../webfonts/36DA97_1_0.woff2') format('woff2'),url('./../webfonts/36DA97_1_0.woff') format('woff'),url('./../webfonts/36DA97_1_0.ttf') format('truetype');}


body {
  margin:0px;
  padding:0px;
  position: relative;
  font-family: 'HelveticaNeueLTPro-Th', "LiberationSans", "Helvetica", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.bold {
  font-family: 'HelveticaNeueLTPro-Lt';
}

header {
  width: 100%;
  height:45px;
  background-color:white;
  border-bottom:1px black solid;
  float:left;
  text-transform: uppercase;
}

header > .third{
  float:left;
  height: 45px;
  border-right:1px black solid;
  box-sizing: border-box;
  padding-left:40px;
  padding-right:40px;
  width: calc(100% / 3);
}
header > .third.edgetoright{
  padding-right: 35px;
}

header > .third.mobile{
  display:none;
}

header > .third > a >  .logo {
  height:15px;
  margin:0px;
  margin-left:-30px;
  margin-top:1px;
}

header > .third > a{
  width: calc(100% / 3);
  float:left;
  height:45px;
  padding: 15px;
  font-size:12px;
  box-sizing: border-box;
  text-align: center;

}

header > .third.right > a{
  float:right;
  padding-right:0px;
}

header > .third > a.left{
  float:left;
}

header > .third > a.free{
  width:auto;
}

header > .third > a.free > img{
  height: 9px;
    margin-top: 3px;
    cursor: pointer;
}

header > .third > a.free > img.insta{
  height:18px;
  margin-top:-2px;
  margin-right:5px;
}

header > .third > .free > i {
  color:black;
}

@media screen and (max-width:800px){
  header > .third{
    display:none;
  }

  header > .third.mobile{
    display:inline-block;
    width:100%;
    border-bottom: 1px black solid;
  }

  header {
    width: 100%;
    height:90px;
  }
}

header > .menu {
position: absolute;
width:300px;
top:45px;
right:0px;
background-color:white;
display:none;
border-top:1px black solid;
border-left:1px black solid;
border-right:1px black solid;
z-index:4;
}

header > .menu > .item{
width:300px;

height:45px;
border-bottom:1px black solid;
display:inline-block;
position: relative;
}

header > .menu > .item:hover{
  cursor: pointer;
  background-color:#eee;
}

header > .menu > .item > .tag{
position: absolute;
width:200px;
left:50px;
top:16px;
font-size:12px;
text-align: center;
}

header > .menu > .item > .chevron{
position: absolute;
top:18px;
right:18px;
font-size: 10px;

}

.subheader {
  width: 100%;
  height:45px;
  font-size:11px;
  background-color:white;
  border-bottom:1px black solid;
  float:left;
  text-transform: uppercase;
}

.subheader > div{
  float:left;
  height: 45px;
  border-right:1px black solid;
  box-sizing: border-box;
  padding-left:10px;
  padding-right:20px;
  width: calc(100% / 2);
  background-color:white;
}

.subheader > .fullcenter{
  float:left;
  height: 45px;
  border-right:1px black solid;
  box-sizing: border-box;
  padding-left:20px;
  padding-right:20px;
  width: 100%;
  text-align:center;
  background-color:white;
}

.subheader > .forcehalf{
  width:50% !important;
}

.mobile {
  display:none;
}

@media screen and (max-width:800px){
  .subheader {
    height:auto;
    display: inline-block;
  }

  .subheader > div {
    height:auto !important;
    padding-bottom:10px;
    width: 100% !important;
    display: inline-block;
  }

  .mobilehide {
    display:none !important;
  }

  .mobile {
    display:inline-block;
  }
}

.finalfooter {
  width: 100%;
  height:45px;
  font-size:12px;
  background-color:white;
  border-top:1px black solid;
  float:left;
  padding-top:15px;
  padding-left:25px;
  display: inline-block;
  box-sizing: border-box;
}

.subheader > div > a{
  float:left;
  padding:0px 10px;
  padding-top:15px;
  font-size:12px;
}

.subheader > .fullcenter > a{
  float:none;
  display: inline-block;
}

.subheader > div > a.chosen{
  text-decoration: underline;
}

#newHome {
  width:auto;
  height:calc(100vh - 50px);
  display:inline-block;
  overflow:scroll;
  white-space:nowrap;
  width:100%;
}

#newHome > .col {
  width:29%;
  display: inline-block;
  height:calc(100vh - 50px);
  border-right:1px black solid;
  box-sizing: border-box;
  float:left;
  display:inline-block;
  background-size:cover;
  background-position: center;
}

#newHome > .col.long {
  width:42%;
  border:1px black solid;
}

#newHome > .col.long > .rightarrow {
  position: absolute;
  right: 17px;
  font-size: 60px;
  top: calc(75vh / 2 - 22.5px / 2 - 35px);
}

#newHome > .col > .halfblock{
  width:100%;
  height:calc(50vh - 25px);
  border-bottom: 1px black solid;
  box-sizing: border-box;
}

#newHome > .col > .halfblock:last-child{
  border-bottom: 0px black solid;
}

#newHome2 {
  width:auto;
  height:calc(100vh - 45px);
  display:inline-block;
  overflow:scroll;
  white-space:nowrap;
  position: relative;
  width:100%;
}

#newHome2 > .col {
  width:50%;
  display: inline-block;
  height:calc(100vh - 45px);
  border-right:1px black solid;
  box-sizing: border-box;
  float:left;
  display:inline-block;
  background-size:cover;
  background-position: center;
}

#newHome2 > .col.long {
  width:34%;
  position: absolute;
  top:calc(12.5vh - 11.25px);
  left:33%;
  box-sizing: border-box;
  background-size:cover;
  background-position:center;
  height:calc(75vh - 22.5px);
  border:1px black solid;

}

@media screen and (max-width: 800px){
  #newHome2 {
    height:calc(100vh - 90px);

  }

  #newHome2 > .col {
    height:calc(100vh - 90px);
    border-bottom:1px black solid;
  }

  #newHome2 > .col.long {
    width:90%;
    left:5%;
    top:calc(12.5vh - 29.5px);
    height:calc(75vh - 45px);
  }

}


#newHome2 > .col.long > .rightarrow {
  position: absolute;
  right: 17px;
  font-size: 60px;
  top: calc(75vh / 2 - 22.5px / 2 - 22px);
}

#newHome2 > .col.long > .rightarrow > img {
  height:40px;
}

.killborderonMobile {
  border: none !important;
}

#newHome2 > .col > .halfblock{
  width:100%;
  height:calc(50vh - 22.5px);
  border-bottom: 1px black solid;
  box-sizing: border-box;
}

#newHome2 > .col > .halfblock:last-child{
  border-bottom: 0px black solid;
}

#newHome2 > .middleLogo{
  position: absolute;
  bottom:20px;
  width:100px;
  left:calc(50% - 53px);
  position: absolute;
    bottom: 28px;
    width: 39px;
    left: calc(50% - 21px);
}

#productSnapshot {
  width:auto;
  height:calc(100vh - 50px);
  display:inline-block;
  overflow:scroll;
  white-space:nowrap;
  width:100%;
}

#productSnapshot.nooverflow{
  overflow: hidden;
}

#productSnapshot.grow{
  height: auto;
}

#productSnapshot.wrap {
  white-space: normal;
}

#productSnapshot  > .image{
  width:calc(50vw + 4px);
  display: inline-block;
  height:calc(100vh - 50px);
  background-size: cover;
  border-right:1px black solid;
  box-sizing: border-box;
  background-position: center;
  display:inline-block;
  margin:0px;
  margin-left:-4px;
}



#productSnapshot  > .info{
  width:calc(50vw + 4px);
  display: inline-block;
  height:calc(100vh - 45px);
  background-size: cover;
  border-right:1px black solid;
  box-sizing: border-box;
  background-position: center;
  display:inline-block;
  margin:0px;
  margin-left:-4px;
  text-align: left;
  padding:40px 60px;
  position: relative;
  float:left;
  border-bottom:1px black solid;
}


#productSnapshot > .info:nth-last-child(1){
  border-bottom:0px black solid;
}

#productSnapshot.even > .info:nth-last-child(2){
  border-bottom:0px black solid;
}

#productSnapshot > .image:nth-last-child(1){
  border-bottom:0px black solid;
}

#productSnapshot.even > .image:nth-last-child(2){
  border-bottom:0px black solid;
}

@media screen and (max-width:800px){
  #productSnapshot  > .image{
    width:100%;
  }

  #productSnapshot  > .info{
    width:100%;
  }
}

#productSnapshot  > .info > .heading{
  font-size:19px;
  width: 85%;
}

#productSnapshot  > .info > .price{
  font-size:14px;
  width: 85%;
}

#productSnapshot  > .info > p{
  font-size:13px;
  width: 85%;
  white-space:normal;
}


  #productSnapshot  > .info > .sizing{
    border-top:1px black solid;
    font-size:13px;
    width: 85%;
    white-space:normal;
    padding-top:20px;
  }

  #productSnapshot  > .info > .sizing > .icon{
    float:left;
    width:20px;
    height:20px;
    margin-right:10px;
  }

  #productSnapshot  > .info > .sizing > .contents{
    width:calc(100% - 30px);
    font-size:13px;
  }

#productSnapshot  > .info > .atb{
  background-color: black;
color: white;
text-align: center;
position: relative;
display: inline-block;
border-radius: 0px;
width: 226px;
padding: 13px 21px;
margin-top:20px;
font-size: 12px;
}

#productSnapshot  > .info > .productImage{
  width:80%;
  height:calc(100vh - 65px);
  left:10%;
  top:10px;
  position: absolute;
  background-size:cover;
  background-position: center;

}


#productSnapshot  > .info > .allcolors{
  margin-top:40px;
  text-decoration:underline;
  font-size:12px;
}


#productSnapshot  > .info > .versions{
margin-top:30px;
text-decoration:underline;
font-size:12px;
}

#productSnapshot  > .info > .versions > .version{
height:90px;
width:60px;
float:left;
margin-right:10px;
background-size: contain;
background-repeat:no-repeat;
background-position: center;
}


#productShowcase {
  height:calc(100vh - 90px);
  display:inline-block;
  overflow:scroll;
  white-space:nowrap;
  width:100%;
}

#productShowcase > .product {
  width:calc(100vw / 3);
  height: calc(100vh - 90px);
  float:left;
  background-color:white;
  border-right:1px black solid;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width:800px){
  #productShowcase > .product {
    width:100%;
  }
}


#productShowcase > .product > .bottomBar{
  width:100%;
  height:40px;
  position: absolute;
  bottom:0px;
  left:0px;
  border-top:1px black solid;
  border-right:1px black solid;
}

#productShowcase > .product > .image{
  width:100%;
  height: calc(100vh - 90px);
  position: absolute;
  top:0px;
  left:0px;
  background-position: center;
  background-size:80%;
  background-repeat:no-repeat;
}

#productShowcase > .product > h1{
  width:100%;
  height: 40px;
  position: absolute;
  bottom:60px;
  text-align: center;
  font-size: 11px;
  left:0px;
  font-weight: 100;

}

#productShowcase > .product > .price{
  width:100%;
  height: 40px;
  position: absolute;
  bottom:48px;
  text-align: center;
  font-size: 14px;
  left:0px;
  font-weight: 100;
}

#shopping {
  width: 50%;
  margin-left:25%;
  margin-right:25%;
  margin-top:100px;
  display:inline-block;
  min-height: calc(100vh - 190px);
}



#shopping > p{
  font-size:13px;
}

#shopping > .items {
  width:100%;
  border-top:1px black solid;
  border-bottom: 1px black solid;
  padding-top:20px;
  padding-bottom:20px;
  margin-top:20px;
  position: relative;
}

#shopping > .items > .total{
  right:0px;
  top:20px;
  position: absolute;
  font-weight:600;
  font-size:12px;
}

#shopping > .items > .item{
  width:100%;
  height:120px;
}

#shopping > .items > .item > .image{
  width:80px;
  height:120px;
  background-size:contain;
  background-position: center;
  background-color:transparent;
  background-repeat: no-repeat;
  float:left;
}

#shopping > .items > .item > .mains{
  margin-left:30px;
  width:100px;
  height:120px;
  float:left;
}

#shopping > .items > .item > .mains > .heading{
  font-size:12px;
}

#shopping > .items > .item > .mains > .price{
  font-size:9px;
  margin-top:5px;
}

#shopping > .items > .item > .mains > .remove{
  font-size:9px;
  text-decoration: underline;
  margin-top:20px;
}

#shopping > .latter {
  width:100%;
  height:80px;
  margin-top:10px;
}

#shopping > .latter > .links{
  float:left;
  font-size:11px;
}

#shopping > .latter > .links > .link{
  font-size:11px;
  margin-top:9px;
  text-decoration: underline;
  float:left;
  margin-right:20px;
  display: inline-block;
}

#shopping > .latter > .checkout{
  float:right;
  padding: 10px 90px;
  color:white;
  font-size:11px;
  background-color:black;
  border-radius:0px;
}

@media screen and (max-width:800px){
  #shopping {
    width: 90%;
    margin-left:5%;
    margin-right:5%;
  }

  #shopping > .latter > .checkout{
    padding: 10px 90px;
    color:white;
    width:100%;
    box-sizing: border-box;
    text-align:center;
    margin-top:50px;
    font-size:11px;
    background-color:black;
    border-radius:100px;
  }
}

#episodes {
  width:100%;
  display:inline-block;
}

#episodes > .episode{
  width:50%;
  height:calc(50vh - 22.5px);
  float:left;
  border-bottom:1px black solid;
  float:left;
  box-sizing: border-box;
  background-size:cover;

  background-position: top center;
  background-repeat:no-repeat;
  border-right:1px black solid;
}

#episodes > .episode:nth-last-child(1){
  border-bottom:0px black solid;
}

#episodes.even > .episode:nth-last-child(2){
  border-bottom:0px black solid;
}

@media screen and (max-width:800px){
  #episodes > .episode{
    width:100%;
  }
}

#contact {
  width: 70%;
  margin-left:15%;
  margin-right:15%;
  font-size:12px;
  margin-top:50px;
  display:inline-block;
}

#contact .grey {
  color:#888;
}

#contact .select {
  width:100%;
  height:44px;
  padding:12px;
  font-size:14px;
  box-sizing: border-box;
  border: 1px black solid;
}

#contact input {
  width:100%;
  height:44px;
  padding:12px;
  font-size:14px;
  box-sizing: border-box;
  outline:none;
  border: 1px black solid;
}

#contact textarea {
  width:100%;
  height:244px;
  padding:12px;
  font-size:14px;
  box-sizing: border-box;
  outline:none;
  border: 1px black solid;
}
